@model BooksStore2021.Classlib.Entities.ShoppingCart

@if (Model?.Lines?.Count() > 0)
{
    <form method="post">
        <br />
        <div class="backgroundWhiteBorder">
            <div class="container row">
                <div class="col -8">
                    <div class="card mt-4">
                        <div class="card-header bg-dark text-light ml-0 row container">
                            <div class="col-6">
                                <i class="fa fa-shopping-cart"></i> &nbsp;
                                Shopping Cart
                            </div>
                            <div class="col-6 text-right">
                                <a asp-action="Index" asp-controller="Home" class="btn btn-outline-info btn-sm">Continue Shopping</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class=" d-none d-lg-block">
                                <div class="row" style="color:#821f3d">
                                    <div class="col-12 col-lg-2">
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        Product Details
                                    </div>
                                    <div class="col-6 col-lg-2">
                                        Price
                                    </div>
                                    <div class="col-6 col-lg-2">
                                        Quantity
                                    </div>
                                    <div class="col-12 col-lg-2">
                                    </div>
                                </div>
                            </div>

                            <hr />
                            @foreach (var line in Model.Lines)
                            {
                            <div class="row h-100">
                                <div class="col-12 col-lg-2 text-center py-2">
                                  @if(line.Product.ImageMimeType != null)
                                  {
                                    <img src="@Url.Action("GetImageByProductId", "Product", new { line.Product.ProductId })" class="rounded" width="100%" />
                                  }

                                </div>
                                <div class="col-12 col-lg-4">
                                    <h5>@line.Product.Title</h5>
                                    <div style="font-size:11px;">@line.Product.Description</div>
                                </div>
                                <div class="col-6 col-lg-2 pt-lg-2" style="font-size:11px;">
                                    <span style="font-size:17px;"> $@line.Product.Price</span>
                                </div>
                                <div class="col-6 col-lg-2 pt-lg-2" style="font-size:11px;">
                                    <input
                                    size=''
                                    style="font-size:17px; width:60%"
                                    type="number"
                                    value=@line.Quantity
                                    onchange="UpdateQuantity(@line.Product.ProductId, this.value)"
                                    step=1
                                    min=0
                                    />
                                  </div>
                                 <div class="col-12 col-lg-2 p-0 pt-lg-2 text-center">
                                    <a asp-action="Remove" asp-route-id="@line.Product.ProductId" class="btn btn-outline-danger">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </div>
                            <hr />
                            }
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-6 col-md-3 offset-md-9">
                                    <button type="submit" class="btn btn-success form-control ">
                                        <span>Continue</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
else
{
    <p>Please add items to cart.</p>
}

<script type="text/javascript">
    function UpdateQuantity(productId, toUpdateQuantitty) {
    console.log('productId', productId);
    $.ajax({url: "/cart/Edit?productId=" + productId + "&toUpdateQuantity=" + toUpdateQuantitty,
    success: function(result){
    console.log("Updated quantity: " + toUpdateQuantitty);
  }});
};
</script>







