@model BooksStore2021.Mvc.Models.ViewModels.HomeViewModel
@using System

@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
  <div class="text-center">

      @if(String.IsNullOrWhiteSpace(Model.CurrentCategory))
      {
          @Html.ActionLink("All", "Index", "Home", null, new { @class = "btn btn-info" })
      }
      else
      {
          @Html.ActionLink("All", "Index", "Home", null, new { @class = "btn btn-default" })
      }
      @foreach(string category in Model.Categories)
      {
        if(category == Model.CurrentCategory)
        {
          @Html.ActionLink(@category, "Index", "Home", new { category=@category }, new { @class = "btn btn-info" })
        }
        else
        {
          @Html.ActionLink(@category, "Index", "Home", new { category=@category }, new { @class = "btn btn-default" })
        }
    }

  </div>
  <br />
  <div class="row">
    @foreach(var product in Model.Products)
    {
      <partial name="_IndividualProductCard", model=product />
    }
  </div>
   <div  class="text-center">
        @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
        {
            if(i == Model.PagingInfo.CurrentPage)
            {
                @Html.ActionLink(@i.ToString(), "Index", "Home", new { category= @Model.CurrentCategory, page=@i }, new { @class = "btn btn-info" })
            }
            else
            {
                @Html.ActionLink(@i.ToString(), "Index", "Home", new { category= @Model.CurrentCategory, page=@i }, new { @class = "btn btn-default" })
            }
         }
   </div>
</div>

@section Scripts{
    <script>
    $(document).ready(function(){
    $(".filter-button").click(function(){
        var value = $(this).attr('data-filter');
        if(value == "all")
        {
            $('.filter').show('1000');
        }
        else
        {
            $(".filter").not('.'+value).hide('3000');
            $('.filter').filter('.'+value).show('3000');
        }
    });
});
    </script>
}

